.cursor-pointer {
  cursor: pointer;
}

.img__viajes {
  height: 250px;
  object-fit: cover;
}

.modal__imagen_container {
  height: 300px;
}

.modal__imagen {
  object-position: center;
}

.modal__titulo__container {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  color: white;
}