.img__carrusel {
  height: 450px;           
  object-fit: cover;      
  object-position: center; 
}

.img__parque {
  height: 180px;          
  object-fit: cover;
}

.img__destacado {
  height: 250px;           
  object-fit: cover;
}


.card:hover {
  background-color: #a2e5e4;
  transform: scale(1.1);
  transition: transform 0.3s ;
  --bs-card-border-color: gray;
}

.parques__container {
  scrollbar-width: thin;
}

.card__parque {
  width: 250px;
}