<div class="d-flex flex-column min-vh-100">
  
  <app-cabecera></app-cabecera>

  <div class="container mt-5 flex-grow-1">
    <router-outlet></router-outlet>
  </div>

  @if (mostrarFooter) {
    <app-footer></app-footer>
  }

</div>

@if (BotonScroll) {
  <button class="btn-scroll-top" (click)='subirArriba()' title="Subir arriba">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
    </svg>
  </button>
}