<div class="row justify-content-center mt-5">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h3 class="text-center mb-4">Crear una cuenta</h3>

        <div *ngIf="mensajeDeError" class="alert alert-danger">
          {{ mensajeDeError }}
        </div>

        <form (ngSubmit)="registro()">
          
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input 
              type="text" 
              class="form-control" 
              name="name" 
              [(ngModel)]="usuario.name" 
              required>
          </div>

          <div class="mb-3">
            <label class="form-label">Correo Electrónico</label>
            <input 
              type="email" 
              class="form-control" 
              name="email" 
              [(ngModel)]="usuario.email" 
              required>
          </div>

          <div class="mb-4">
            <label class="form-label">Contraseña</label>
            <input 
              type="password" 
              class="form-control" 
              name="password" 
              [(ngModel)]="usuario.password" 
              required>
          </div>

          <button type="submit" class="btn btn-primary w-100">Registrarse</button>
          
        </form>

        <div class="text-center mt-3">
          <p class="mb-0">¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
        </div>
      </div>
    </div>
  </div>
</div>