<div class="row justify-content-center mt-5">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h3 class="text-center mb-4">Crear una cuenta</h3>

        @if (mensajeDeError) {
        <div class="alert alert-danger">
          {{ mensajeDeError }}
        </div>
        }

        <form [formGroup]="formRegistro" (ngSubmit)="registro()">

          <div class="mb-3">
            <label class="form-label">Nombre:</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Introduce tu nombre">

            <div class="text-danger mt-1 text-sm" [hidden]="name.valid || name.pristine">
              @if (name?.errors?.['required']) {
              <span>El nombre es obligatorio</span>
              }
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Correo Electrónico:</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Introduce tu email">

            <div class="text-danger mt-1 text-sm" [hidden]="email.valid || email.pristine">
              @if (email?.errors?.['required']) {
              <span>El email es obligatorio</span>
              }
              @if (email?.errors?.['email']) {
              <span>El email debe ser válido</span>
              }
            </div>
          </div>

          <div class="mb-4">
            <label class="form-label">Contraseña:</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Crea una contraseña">

            <div class="text-danger mt-1 text-sm" [hidden]="password.valid || password.pristine">
              @if (password?.errors?.['required']) {
              <span>La contraseña es obligatoria</span>
              }
              @if (password?.errors?.['minlength']) {
              <span>La contraseña debe tener al menos 6 caracteres</span>
              }
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100" [disabled]="formRegistro.invalid">
           @if (cargando) {
              Registrando...
            } @else {
              Registrarse
            }
          </button>

        </form>

        <div class="text-center mt-3">
          <p class="mb-0">¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
        </div>
      </div>
    </div>
  </div>
</div>