<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-4">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary" routerLink="/inicio">
            <i class="bi bi-airplane-engines me-2"></i>
            <span>Agencia de Viajes</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavegacion">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuNavegacion">
            <ul class="navbar-nav ms-auto align-items-center">

                @if (authService.estaLogueado()) {

                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" routerLink="/viajes" routerLinkActive="active fw-bold">
                            <i class="bi bi-briefcase text-secondary me-2 fs-5"></i> Mis Viajes
                        </a>
                    </li>

                    <li class="nav-item ms-2">
                        <a class="nav-link d-flex align-items-center" routerLink="/tiempo" routerLinkActive="active fw-bold">
                            <i class="bi bi-cloud-sun text-secondary me-2 fs-5"></i> El Tiempo
                        </a>
                    </li>

                    <li class="nav-item ms-2 me-3">
                        <a class="nav-link d-flex align-items-center" routerLink="/editar-perfil" routerLinkActive="active fw-bold">
                            <i class="bi bi-person-gear text-secondary me-2 fs-5"></i> Mi Perfil
                        </a>
                    </li>

                    <li class="nav-item">
                        <button class="btn btn-outline-danger btn-sm ms-2" (click)="cerrarSesion()">
                            Cerrar Sesión
                        </button>
                    </li>

                } @else {
                    
                    <li class="nav-item">
                        <a class="btn btn-primary" routerLink="/login">Iniciar Sesión</a>
                    </li>

                }

            </ul>
        </div>
    </div>
</nav>