@if (authService.estaLogueado()) {
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-4">
    <div class="container">
        <!-- Añadir un svg de un telefono -->
        <a class="navbar-brand fw-bold text-primary" routerLink="/viajes">
            <i class="bi bi-airplane-engines me-2"></i>

            <span>Agencia de Viajes</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavegacion">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuNavegacion">
            <ul class="navbar-nav ms-auto align-items-center">

                <li class="nav-item me-3 d-none d-lg-block">
                    <span class="nav-link text-dark fw-medium">
                        <i class="bi bi-telephone-fill text-success me-1"><svg xmlns="http://www.w3.org/2000/svg"
                                height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"
                                class="text-secondary me-2">
                                <path
                                    d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z" />
                            </svg></i> 900 123 456
                    </span>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/viajes" routerLinkActive="active fw-bold">Mis Viajes</a>
                </li>

                <li class="nav-item me-3 ms-2">
                    @if (datosTiempo && datosTiempo.main) {
                    <span class="badge bg-info text-dark p-2 d-flex align-items-center">
                        <img [src]="'http://openweathermap.org/img/wn/' + datosTiempo.weather[0].icon + '.png'"
                            alt="clima" width="30">

                        <span class="ms-1">{{ datosTiempo.main?.temp | number:'1.0-0' }}°C</span>

                        <small class="ms-2 d-none d-md-inline text-capitalize">
                            {{ datosTiempo.weather[0]?.description }}
                        </small>
                    </span>
                    } @else {
                    <span class="badge bg-light text-muted p-2">Cargando clima...</span>
                    }
                </li>

                <li class="nav-item">
                    <button class="btn btn-outline-danger btn-sm ms-2" (click)="cerrarSesion()">
                        Cerrar Sesión
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

}