<input type="text" class="form-control" #newdia>

<button class="btn btn-primary mt-3" (click)="dia = newdia.value">Mostrar día </button>
<div [ngSwitch]="dia" *ngIf="dia">
<span *ngSwitchCase="'1'">Lunes</span>
<span *ngSwitchCase="'2'">Martes</span>
<span *ngSwitchCase="'3'">Miércoles</span>
<span *ngSwitchCase="'4'">Jueves</span>
<span *ngSwitchCase="'5'">Viernes</span>
<span *ngSwitchCase="'6'">Sábado</span>
<span *ngSwitchCase="'7'">Domingo</span>
<span *ngSwitchDefault> Valor no válido</span>
</div>