<div class="container">

    <!-- <h1>Proyecto: {{title}}</h1>
    <hr> -->
    <!-- <h2>Componente padre</h2> -->
   
    <!-- <app-contador></app-contador> -->
  
    <!-- <app-botones></app-botones> -->

    <!-- <app-imagenes></app-imagenes> -->
    <!-- <app-formulario></app-formulario> -->
    <!-- <app-bucles></app-bucles> -->
    <!-- <app-switch></app-switch> -->
    <!-- <app-formulario2></app-formulario2> -->

    <app-formulario3></app-formulario3>
    <!-- <input type="text" class="form-control" [(ngModel)]="title">
     <hr>
    <app-children [(title)]="title" ></app-children> -->

    <!-- <h1>Servicios</h1>
    <app-add-mensaje></app-add-mensaje>
    <app-list-mensaje></app-list-mensaje> -->
    
</div>